<style>
    .Container {
        overflow-y: auto !important;
        overflow-x: hidden;
        min-height: 22px;
        max-height: 100vh;
    }

    .myStatus {
        width: 100%;
        background-color: cyan;
        padding: 6px 6px;
        margin: 0 0 1px 0;
        border: 1px solid #ad5a2242;
    }

    .myStatus a {
        margin: 0px 0 0 11px;
        color: black;
        font-size: initial;
    }

    .AcceptStatus {
        margin: 0 5px 0 0;
        color: green;
    }

    .OtherStatus {
        margin: 0 8px 0 0;
        color: #ad5a22;
    }

    .signature {
        width: 100%;
        height: 280px;
        border: 1px solid #ad5a2242;
    }

    .btnRemoveSection {
        background-color: #fcb822;
        color: black;
        padding: 2px 15px;
        float: left;
        margin-top: 2px;
        cursor: pointer;
    }
</style>
<div class="Container">
    <h4 class="dispaly-4">Add Sale Person Signature</h4>
    <hr>
    <div class="form-row">
        <div class="form-group col-md-12">
            <div class="kt-radio-list">
                <div class="row">
                    <div class="signature">
                        <div class="row forn-group">
                            <div class="col">
                                <div id="CloseSignarePad" class="m-signature-pad CloseSignarePad">
                                    <div class="m-signature-pad-body">
                                        <signature-pad #SignaturePad2 [options]="CustomerSignaturePadOption">
                                        </signature-pad>
                                    </div>
                                </div>
                                <a class="btnRemoveSection"
                                    (click)="cleareCustomerCloserSignature()"> Clear signature</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" (click)="UpdateQuoteStatus()"> Add Signature</button>
        <button type="button" class="btn btn-outline-dark ml-1" (click)="close()"><i class="fa fa-close"></i>Close</button>
    </div>
</div>