<div id="kt_header_mobile" class="kt-header-mobile kt-header-mobile--fixed ">
  <div class="kt-header-mobile__logo">
    <a href="javascript:;">
      <img alt="Logo" src="{{genicProfile.formData.Logo}}" />
    </a>
  </div>
  <div class="kt-header-mobile__toolbar">
    <button class="kt-header-mobile__toolbar-toggler kt-header-mobile__toolbar-toggler--left"
      id="kt_aside_mobile_toggler"><span></span></button>
    <button class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler"><i
        class="flaticon-more"></i></button>
  </div>
</div>
<div class="kt-grid kt-grid--hor kt-grid--root">
  <ngx-loading-bar color="#ff8533" height="4px" [includeSpinner]="false" ref="router"></ngx-loading-bar>
  <ngx-loading-bar color="#ff8533" height="4px" ref="http"></ngx-loading-bar>
  <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
    <app-nav-aside></app-nav-aside>
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
      <app-nav-header></app-nav-header>
      <router-outlet></router-outlet>
      <div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
        <div class="kt-container kt-container--fluid ">
          <div class="kt-footer__copyright">2020&nbsp;&copy;&nbsp;<a href="javascript:;" class="kt-link">Bthrust</a>
          </div>
          <div class="kt-footer__menu"><a href="javascript:;" class="kt-footer__menu-link kt-link">About</a><a
              href="javascript:;" class="kt-footer__menu-link kt-link">Team</a><a href="javascript:;"
              class="kt-footer__menu-link kt-link">Contact</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>