<div class="Container">
    <div class="row p-5">
        <div class="col-sm-0 col-md-1 col-lg-2 col-xl-3"></div>
        <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6 border-1">
            <div class="display-4 text-center">Job Feedback<span *ngIf="this.isValid">(#{{tempdata.result.TicketId}})</span></div>
            <hr>
            <div class="form-row" *ngIf="this.isValid">
                <div class="form-group col-md-12">
                    <generic-ticket-feedback [(ratingcount)]="ratingcount" [Editable]="1" [Status]="'CLOSED'"></generic-ticket-feedback>
                    <div class="row mt-5">
                        <div class="col">
                            <h3>please let me know your feedback</h3>
                            <textarea rows="4" id="Description"
                                (keydown)="onkeypress($event.target.value)" (keyup)="onkeypress($event.target.value)"
                                class="form-control" maxlength="500"
                                placeholder="please let me know your feedback"></textarea>
                            <div class="ticket-feedback">{{_feedbackcount}}/500</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row" *ngIf="this.isValid">
                <button type="submit" *ngIf="!this.IsLoading" class="btn btn-primary btn-block" (click)="submit()">
                  <strong>submit</strong></button>
                <button disabled class="btn btn-success btn-block" *ngIf="this.IsLoading">Loading... Please
                    wait</button>
            </div>
            <div *ngIf="alreadyfeedback">
                <div class="form-group col-md-12">
                    <generic-ticket-feedback [(ratingcount)]="ratingcount" [Editable]="0" [Status]="'CLOSED'"></generic-ticket-feedback>
                    <div class="row mt-5">
                        <div class="col">
                            <textarea rows="10" id="Description"
                                class="form-control" maxlength="500" [value]="val"
                                placeholder="please let me know your feedback" disabled></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row text-center">
                <div class="col">
                    <div class="{{class1}}">{{text1}}</div>
                </div>
            </div>
        </div>
        <div class="col-sm-0 col-md-1 col-lg-2 col-xl-3"></div>
    </div>
</div>