<form #form="ngForm" autocomplete="off" (submit)="onSubmit()">
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
        <div class="kt-subheader kt-grid__item" id="kt_subheader">
            <div class="kt-container kt-container--fluid ">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <a href="javascript:;" routerLink="/dashboard">
                            Dashboard
                        </a>
                    </h3>
                    <span class="kt-subheader__separator kt-hidden"></span>
                    <div class="kt-subheader__breadcrumbs">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <span class="kt-subheader__breadcrumbs-separator"></span>
                        <a href="javascript:;" routerLink="/products" class="kt-subheader__breadcrumbs-link"> {{this.currentUser.Product}}s
                        </a>
                    </div>
                    <span class="kt-subheader__separator kt-hidden"></span>
                    <div *ngIf="currentUser.Permissions.ProductCreate">
                        <div *ngIf="createbuttontext == 'Create'" class="kt-subheader__breadcrumbs">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            <span class="kt-subheader__breadcrumbs-separator"></span>
                            Add {{this.currentUser.Product}}
                        </div>
                    </div>
                    <div *ngIf="currentUser.Permissions.ProductEdit">
                        <div *ngIf="createbuttontext == 'Update'" class="kt-subheader__breadcrumbs">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            <span class="kt-subheader__breadcrumbs-separator"></span>
                            Edit {{this.currentUser.Product}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="Id" #Id="ngModel" [(ngModel)]="service.formData.Id">
        <div class="creat-properties-form-main-section">
            <div class="kt-container kt-container--fluid">
                <div class="row">
                    <div class="col-md-9 create_properties-filter_form">
                        <div class="create_properties-filter_form">                         
                            <div class="col-md-12 col-sm-12 col-xs-12 service-founds-detail-form">
                                <div class="tab-content job-for-tab-content">
                                    <div class="tab-pane active" id="kt_tabs_3_2" role="tabpanel">                                   
                                        <div class="row service-supports-heading pdn-top">
                                            <div class="kt-portlet__body padd-top-0" style="width: 100%;">
                                                <div class="kt-section">
                                                    <div class="kt-section__content">
                                                        <table class="client-server-table ttl" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td>Code*:</td>
                                                                    <td colspan="3">
                                                                        <input name="ProductId" #ProductId="ngModel"
                                                                            [class.is-invalid]="!IsProductIdValid"
                                                                            [(ngModel)]="service.formData.ProductId"
                                                                            class="undertd_text"
                                                                            placeholder="{{this.currentUser.Product}} Code" maxlength="10">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>{{this.currentUser.Product}} Name*:</td>
                                                                    <td colspan="3">
                                                                        <input type="text" name="ProductName"
                                                                            #ProductName="ngModel"
                                                                            [class.is-invalid]="!IsProductNameValid"
                                                                            [(ngModel)]="service.formData.ProductName"
                                                                            class="undertd_text"
                                                                            placeholder="{{this.currentUser.Product}} Name" maxlength="64">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Select Brand:</td>
                                                                    <td colspan="3">
                                                                        <select name="ProductBrand"
                                                                            #ProductBrand="ngModel"
                                                                            [class.is-invalid]="!IsProductBrandValid"
                                                                            [(ngModel)]="service.formData.ProductBrand"
                                                                            class="form-control undertd_text undertd_text-select">
                                                                            <option value="">Select {{this.currentUser.Product}} Brand
                                                                            </option>
                                                                            <option *ngFor="let x of service.BrandList"
                                                                                value="{{x.BrandName}}">
                                                                                {{x.BrandName}}
                                                                            </option>
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Select Category:</td>
                                                                    <td colspan="3">
                                                                        <select name="ProductCategory"
                                                                            #ProductCategory="ngModel"
                                                                            [class.is-invalid]="!IsProductCategoryValid"
                                                                            [(ngModel)]="service.formData.ProductCategory"
                                                                            class="form-control undertd_text undertd_text-select">
                                                                            <option value="">Select Category</option>
                                                                            <option
                                                                                *ngFor="let x of service.CategoryList"
                                                                                value="{{x.CategoryName}}">
                                                                                {{x.CategoryName}}
                                                                            </option>
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                                <tr style="display: none;">
                                                                    <td>Rule Type*:</td>
                                                                    <td colspan="3">
                                                                        <select name="RuleType" #RuleType="ngModel"
                                                                            [(ngModel)]="service.formData.RuleType"
                                                                            class="form-control undertd_text undertd_text-select">
                                                                            <option value="FIFO">FIFO</option>
                                                                            <option value="LIFO">LIFO</option>
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                                <tr *ngIf="!currentUser.Permissions.IsProductOnly">
                                                                    <td>Purchase Price:</td>
                                                                    <td>
                                                                        <input type="number" name="PurchasePrice"
                                                                            #PurchasePrice="ngModel"
                                                                            [class.is-invalid]="!IsProductPurchasePriceValid"
                                                                            [(ngModel)]="service.formData.PurchasePrice"
                                                                            class="undertd_text"
                                                                            placeholder="Purchase Price" maxlength="8"
                                                                            (keypress)="numberOnly($event)">
                                                                    </td>
                                                                    <td>Sale Price*:</td>
                                                                    <td>
                                                                        <input type="number" name="SalePrice" #SalePrice="ngModel"
                                                                            [class.is-invalid]="!IsProductSalePriseValid"
                                                                            [(ngModel)]="service.formData.SalePrice"
                                                                            class="undertd_text"
                                                                            placeholder="Sale Price" maxlength="8"
                                                                            (keypress)="numberOnly($event)">
                                                                    </td>
                                                                </tr>
                                                                <tr *ngIf="!currentUser.Permissions.IsProductOnly">
                                                                    <td>Stock Qty*:</td>
                                                                    <td>
                                                                        <input type="number" name="Quantity" #Quantity="ngModel"
                                                                            [(ngModel)]="service.formData.Quantity"
                                                                            [class.is-invalid]="!IsProductQuentityValid"
                                                                            class="undertd_text" placeholder="Stock Qty"
                                                                            maxlength="8"
                                                                            (keypress)="numberOnly($event)">
                                                                    </td>
                                                                    <td>Lock Stock Qty:</td>
                                                                    <td>
                                                                        <input type="number" name="LowStockTriggerQuantity"
                                                                            #LowStockTriggerQuantity="ngModel"
                                                                            [class.is-invalid]="!IsProductLowStockQuentityValid"
                                                                            [(ngModel)]="service.formData.LowStockTriggerQuantity"
                                                                            class="undertd_text"
                                                                            placeholder="Lock Stock Qty" maxlength="8"
                                                                            (keypress)="numberOnly($event)">
                                                                    </td>

                                                                </tr>
                                                                <tr>
                                                                    <td colspan="4">
                                                                        <textarea rows="4" name="Description"
                                                                            #Description="ngModel"
                                                                            [(ngModel)]="service.formData.Description"
                                                                            class="undertd_text undertd_text-textarea"
                                                                            placeholder="Description"
                                                                            maxlength="1024"></textarea>
                                                                    </td>
                                                                </tr>
                                                               <tr *ngIf="currentUser.Permissions.ProductWarranty">
                                                                   <td colspan="4">
                                                                        <table>
                                                                            <tr>
                                                                                <td colspan="4">
                                                                                  <div class="col-md-12 padd-top-10 padd-left-0 padd-right-0">
                                                                                    <span class="kt-switch kt-switch--icon"><label><input
                                                                                          name="service.formData.InWarranty" #InWarranty="ngModel"
                                                                                          [(ngModel)]="service.formData.InWarranty" type="checkbox"><span></span></label></span>
                                                                                    <span class="swither-bootstrap-learn switcher-customer">
                                                                                        {{this.currentUser.Product}} warranty
                                                                                    </span>
                                                                                  </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr *ngIf="service.formData.InWarranty">
                                                                                <td>Warrant terms:</td>
                                                                                <td>{{service.formData.WarrantyDays}} Days</td>
                                                                                <td colspan="2">    
                                                                                    <a class="text-warning btnStockUpdate" href="javascript:void(0)" (click)="enablewarrantchange()">
                                                                                        <span *ngIf="!customwarrantyShowEdit"><i class="fa fa-plus" aria-hidden="true"></i> Edit terms</span>
                                                                                        <span *ngIf="customwarrantyShowEdit"><i class="fa fa-minus" aria-hidden="true"></i> Hide terms</span>
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                            <tr *ngIf="customwarrantyShowEdit">
                                                                                <td></td>
                                                                                <td>
                                                                                    <div class="kt-radio-list">
                                                                                        <label
                                                                                        class="kt-radio kt-radio--bold kt-radio--brand">
                                                                                        <input type="radio" class="custom-control-input" value="90" name="WarrantyDays"
                                                                                            #WarrantyDays="ngModel" (change)="customwarrantyShowMethor()"
                                                                                             [(ngModel)]="service.formData.WarrantyDays">
                                                                                             90 Days
                                                                                        <span></span>
                                                                                        </label>
                                                                                        <label
                                                                                        class="kt-radio kt-radio--bold kt-radio--brand">
                                                                                        <input type="radio" class="custom-control-input" value="180" name="WarrantyDays"
                                                                                            #WarrantyDays="ngModel" (change)="customwarrantyShowMethor()"
                                                                                             [(ngModel)]="service.formData.WarrantyDays">
                                                                                             180 Days
                                                                                        <span></span>
                                                                                        </label>
                                                                                        <label
                                                                                        class="kt-radio kt-radio--bold kt-radio--brand">
                                                                                        <input type="radio" class="custom-control-input" value="270" name="WarrantyDays"
                                                                                            #WarrantyDays="ngModel" (change)="customwarrantyShowMethor()"
                                                                                             [(ngModel)]="service.formData.WarrantyDays">
                                                                                             270 Days
                                                                                        <span></span>
                                                                                        </label>
                                                                                        <label
                                                                                        class="kt-radio kt-radio--bold kt-radio--brand">
                                                                                        <input type="radio" class="custom-control-input" value="365" name="WarrantyDays"
                                                                                            #WarrantyDays="ngModel" (change)="customwarrantyShowMethor()"
                                                                                             [(ngModel)]="service.formData.WarrantyDays">
                                                                                             365 Days
                                                                                        <span></span>
                                                                                        </label>
                                                                                        <label class="kt-radio kt-radio--bold kt-radio--brand" *ngIf="customwarrantyShow">
                                                                                            <input type="radio" class="custom-control-input" name="WarrantyDays"
                                                                                                 #WarrantyDays="ngModel" (change)="customwarrantyShowMethor()"
                                                                                                  [(ngModel)]="service.formData.WarrantyDays">
                                                                                                 Custom
                                                                                            <span></span>
                                                                                            </label>
                                                                                        <label class="kt-radio kt-radio--bold kt-radio--brand" *ngIf="!customwarrantyShow">
                                                                                            <input type="radio" class="custom-control-input" name="WarrantyDays"
                                                                                                     checked (change)="customwarrantyShowMethor()">
                                                                                                    Custom
                                                                                            <span></span>
                                                                                            </label>
                                                                                        
                                                                                    </div>
                                                                                </td>
                                                                                <td style="vertical-align: bottom;" colspan="2">
                                                                                    <div class="row">
                                                                                        <div class="col-md-4" *ngIf="!customwarrantyShow">
                                                                                            <input type="text"  name="WarrantyDays" #WarrantyDays="ngModel" (keyup)="customwarrantyShowMethor()" (keydown)="customwarrantyShowMethor()"
                                                                                            [(ngModel)]="service.formData.WarrantyDays" (keypress)="numberOnly($event)"
                                                                                            class="undertd_text" placeholder="Custom"
                                                                                            maxlength="4">
                                                                                        </div>
                                                                                        <div class="col-md-8 padd-top-10" *ngIf="!customwarrantyShow">
                                                                                            (in number of days)
                                                                                        </div>
                                                                                    </div>
                                                                                    
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                   </td>
                                                               </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="img-section-">
                            <img *ngIf="service.formData.ProductLogo=== null" width="250px" class="img-thumbnail"
                                src="{{localPrependUrl}}/assets/svg/noimage.svg" />
                            <div class="upload-image" *ngIf="service.formData.ProductLogo!==null">
                                <img width="250px" class="img-thumbnail" *ngIf="isUrlPart"
                                    src="{{service.formData.ProductLogo}}">
                                <img width="250px" class="img-thumbnail" *ngIf="!isUrlPart"
                                    src="data:image/png;base64,{{service.formData.ProductLogo}}">
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" (change)="picked($event)" #File
                                    id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                <label class="custom-file-label" for="inputGroupFile01">
                                    <p *ngIf="filename">{{filename}}</p>
                                    <p *ngIf="!filename">Choose file</p>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer create-proprty-model-footer row--">
            <button type="button" routerLink="/products" class="btn btn-secondary">CANCEL</button>
            <button class="btn btn-brand" type="submit" [disabled]="form.invalid">
                {{createbuttontext}}
            </button>
        </div>
    </div>
</form>