<div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-container kt-container--fluid breadcud-kt-container ">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    Dashboard
                </h3>
                <span class="kt-subheader__separator kt-hidden"></span>
                <div class="kt-subheader__breadcrumbs">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    <span class="kt-subheader__breadcrumbs-separator"></span>
                    <a href="javascript:;" routerLink="/settings" onclick="window.history.back()"
                        class="kt-subheader__breadcrumbs-link"> Settings
                    </a>

                    <span class="kt-subheader__breadcrumbs-separator"></span>
                    <div class="kt-subheader__breadcrumbs">
                        <a href="javascript:;" class="kt-subheader__breadcrumbs-home"><i aria-hidden="true"
                                class="fa fa-angle-double-right"></i></a>
                        <span class="kt-subheader__breadcrumbs-separator"></span> <a href="javascript:;"
                            class="kt-subheader__breadcrumbs-link">New Zone </a>
                    </div>
                </div>
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">
                    <a class="btn btn-primary" onclick="window.history.back()"
                        style="margin-right: 3px;color: white;padding: 6px 10px 7px 10px;cursor: pointer;"> Back </a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid" style="padding:0">
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
            <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
                <i class="la la-close"></i>
            </button>
            <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="kt-portlet">
                            <form class="kt-form kt-form--label-right" (ngSubmit)="onZoneSumit()">
                                <div class="kt-portlet__body">
                                    <div class="kt-section kt-section--first">
                                        <div class="kt-section__body">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <span>Zone Name <sup>*</sup></span>
                                                </div>
                                                <div class="col-md-10">
                                                    <input type="text" placeholder="Zone Name"
                                                        name="ZoneName"
                                                        [ngClass]="{'InvalidInput': IsZoneNameValid===false}"
                                                        [(ngModel)]="genicZoneService.GenicZoneData.ZoneName"
                                                        (keyup)="validateZoneName($event.target.value)"
                                                        class="form-control" />
                                                        <span class="isvalidname" *ngIf="IsZoneNameValid===false">Enter valid zone name.</span>
                                                        <span class="isvalidname" *ngIf="IsZoneExists===true">Zone already exists!.</span>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-2">
                                                    <span>Country <sup>*</sup></span>
                                                </div>
                                                <div class="col-md-10">
                                                    <select class="form-control"
                                                        name="CountryName"
                                                        [(ngModel)]="genicZoneService.GenicZoneData.CountryName"
                                                        [ngClass]="{'InvalidInput': IsValidCountry===false}"
                                                        (change)="getMapOnContry($event.target.value)">
                                                        <option value="0"> -- Choose Contry -- </option>
                                                        <option *ngFor="let c of countrylist"
                                                            value="{{c.CountryName}}">{{c.CountryName}}</option>
                                                    </select>
                                                    <span class="isvalidname" *ngIf="IsValidCountry===false">Select country name.</span>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-2">
                                                    <span>Map <sup>*</sup></span>
                                                </div>
                                                <div class="col-md-10">

                                                    <body class="cl-map-class">
                                                        <input class="btnremoveoverlay" title="Clear all shapes" style="width: 13% !important;" (click)="setDrowingNull()" type="button" value="Remove overlay" >
                                                        <div id="GeoMapId"></div>
                                                    </body>

                                                </div>
                                            </div>
                                            <div class="row clzone">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-10">
                                                    <div class="zone-submit">
                                                        <button class="btn btn-primary" type="submit">Submit</button>
                                                        <a href="javascript:void(0)" class="btn btn-warning" routerLink="/settings/geofencing-list">Cancel</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>