<style>
.paymnetprintsection a, .paymnetprintsection button{
  border: none;
    background-color: #3c4596;
    color: white;
    padding: 5px 10px;
    margin: 0 3px 0 0;
    cursor: pointer;
}
  .paywidth-section {
    width: 90%;
  }

  .payButtonSection {
    margin: 0 40px 0 0;
    text-align: right;
  }

  .receiptsection {
    padding: 4px 5px 4px 5px;
  }

  .paymnetprintsection {
    text-align: right;
  }

  .paymentHeadingSection {
    margin: 34px 0 54px 0;
  }

    .paymentHeadingSection h1 {
      font-size: 17px;
    }

  .totalAmountSection {
    background: #84c529;
    padding: 4px 26px;
    text-align: center;
    color: #fff;
    margin-top: 25px;
    font-size: 16px;
  }
  .mat-dialog-container{
    padding: 6px 6px 4px 12px !important;
  }
  .modal-header.select-new-properties{
    padding: 0 !important;
  }
  .kt-widget2__checkbox.paywidth-section{
    padding: 4px 0px 0px 35px !important;
  }
  .ppp{
    padding: 0px 0px 0px 0px !important;
    margin-bottom: 9px !important;
  }
</style>
<div class="modal-header select-new-properties">
  <h5 class="modal-title" id="exampleModalLabel">Payment & Receipt</h5>
  <button class="btn btn-default pull-right" mat-dialog-close>x</button>
</div>
<div class="modal-body">
  <div>
    <div class="tab-pane" id="kt_widget2_tab3_content">
      <div class="paymentsection" *ngIf="IsShowPaymentSection==='true'">
        <form #form="ngForm" autocomplete="off" (submit)="onPaymentSubmit()">
          <div class="kt-widget2">
            <div class="kt-widget2__item kt-widget2__item--warning ppp">
              <div class="kt-widget2__checkbox paywidth-section">
                <label>Amount Received</label>
                <input type="number" min="0" minlength="0" #PaymentAmount="ngModel" name="PaymentAmount" [(ngModel)]="invoiceService.PaymentData.PaymentAmount" placeholder="Amount" class="form-control" required />
                <div *ngIf="PaymentAmount.invalid && (PaymentAmount.dirty || PaymentAmount.touched)"
                     class="alert alert-danger">
                  <div *ngIf="PaymentAmount.errors.required">
                    Amount is required
                  </div>
                  <div *ngIf="PaymentAmount.errors.minlength">
                    envalid amount
                  </div>
                </div>
              </div>
            </div>
            <div class="kt-widget2__item kt-widget2__item--warning ppp">
              <div class="kt-widget2__checkbox paywidth-section">
                <label>Payment Date</label>
                <input type="text" class="form-control" #PaymentDate="ngModel" ngbDatepicker (click)="datePickerPaymentDate.toggle()"
                       #datePickerPaymentDate="ngbDatepicker" name="PaymentDate" [(ngModel)]="invoiceService.PaymentData.PaymentDate" placeholder="dd/MM/yyyy" required />

                <div *ngIf="PaymentDate.invalid && (PaymentDate.dirty || PaymentDate.touched)"
                     class="alert alert-danger">
                  <div *ngIf="PaymentDate.errors.required">
                    Payment date is required
                  </div>
                  <div *ngIf="PaymentDate.errors.minlength">
                    Envalid payment date
                  </div>
                  <div *ngIf="PaymentDate.errors.touched">
                    Envalid payment date
                  </div>
                </div>
              </div>
            </div>
            <div class="kt-widget2__item kt-widget2__item--warning ppp">
              <div class="kt-widget2__checkbox paywidth-section">
                <label>Payment Mode</label>
                <select class="form-control" name="PModeId" [(ngModel)]="invoiceService.PaymentData.PModeId">
                  <option *ngFor="let p of invoiceService.PaymentModeList" value="{{p.Id}}">{{p.ModeName}}</option>
                </select>
              </div>
            </div>
            <div class="kt-widget2__item kt-widget2__item--warning ppp">
              <div class="kt-widget2__checkbox paywidth-section">
                <label>Payment Method</label>
                <input name="PaymentMethod" #PaymentMethod="ngModel" [(ngModel)]="invoiceService.PaymentData.PaymentMethod" required placeholder="Payment Method" class="form-control" />
                <div *ngIf="PaymentMethod.invalid && (PaymentMethod.dirty || PaymentMethod.touched)"
                     class="alert alert-danger">
                  <div *ngIf="PaymentMethod.errors.required">
                    Payment Mathod is Required.
                  </div>
                  <div *ngIf="PaymentMethod.errors.minlength">
                    Invalid Payment Pethod.
                  </div>
                </div>
              </div>
            </div>
            <div class="kt-widget2__item kt-widget2__item--warning ppp">
              <div class="kt-widget2__checkbox paywidth-section">
                <label>Transaction ID</label>
                <input name="TransactionId" [(ngModel)]="invoiceService.PaymentData.TransactionId" placeholder="Transaction ID" class="form-control" />
              </div>
            </div>
            <div class="kt-widget2__item kt-widget2__item--warning ppp">
              <div class="kt-widget2__checkbox paywidth-section">
                <label>Ramark</label>
                <textarea name="PaymentNote" [(ngModel)]="invoiceService.PaymentData.PaymentNote" placeholder="Payment Note" class="form-control"></textarea>
              </div>
            </div>
            <div class="payButtonSection">
              <button type="button" (click)="setClearPaymentData()" class="btn btn-warning">Clear</button> &nbsp;
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
        </form>
      </div>
      <div class="receiptsection" *ngIf="IsShowPaymentSection==='false'">
        <div class="row">
          <div class="col-md-3">
            <div class="paymentreceiptSection">
              <h4>Payment</h4>
            </div>

          </div>
          <div class="col-md-9">
            <div class="paymnetprintsection">
              <span>
                <span class="PrintSerction">
                  <button
                          printSectionId="frmPrintReceipt"
                          ngxPrint>
                    <i class="fa fa-print" aria-hidden="true"></i>
                  </button>

                </span>
                <span class="PDFSerction">
                  <a href="javascript:void(0);" (click)="EmailReciptPDF()"> <i class="fa fa-envelope" aria-hidden="true"></i></a>
                </span>
                <span class="CloseSerction">
                  <a href="javascript:void(0);" mat-dialog-close> <i class="fa fa-times" aria-hidden="true"></i></a>
                </span>
              </span>
            </div>
          </div>
        </div>
        <hr>
        <div class="row frmPrintReceipt" id="frmPrintReceipt">
          <div class="col-md-12" *ngFor="let p of tempPaymentlist.paymentSummary">
            <div class="payrmentPrintSection">
              <div class="paymentHeadingSection">
                <h1>PAYMENT RECEIPT</h1>
              </div>
            </div>
            <div class="paymentDateSection">
              <div class="row">
                <div class="col-md-6">
                  <span>Payment Date: </span>
                </div>
                <div class="col-md-6">
                  <span>{{p.PaymentDate | date}} </span>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-6">
                  <span>Payment Mode: </span>
                </div>
                <div class="col-md-6">
                  <span> {{p.PaymentMode}}</span>
                </div>
              </div>
              <div class="row">
                <div class="totalAmountSection">
                  <h3>Total Amount</h3>
                  <p>$ {{p.InvoiceAmount}}.00</p>
                </div>
              </div>
            </div>
            <div class="invoiceDtSection">
              <h2>Payment For</h2>
              <div class="InvoiceDtTable">
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th>Invoice Number</th>
                      <th>Invoice Date</th>
                      <th>Invoice Amount</th>
                      <th>Payment Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{p.InvoiceNo}}</td>
                      <td>{{p.InvoiceDate | date}}</td>
                      <td>${{p.InvoiceAmount}}.00</td>
                      <td>${{p.PaymentAmount}}.00</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
