.engineer_sec ul{margin-bottom:0px !important;padding-left:0px !important;}
.engineer_sec ul li{display:inline-block;padding:0px 5px;}
.team-inner-1 {margin-top:0px;padding:0px 15px;}
.team-inner-1 ul{padding-left:0;list-style-type:none;margin-bottom:0px;;}
.team-inner-1 ul li{color:black;display: inline-block;padding: 8px 8px;background-color: #eaeaea;margin: 0px 3px 5px;border-radius: 5px;}
.team-inner-1 ul li img{ border-radius:40%; height: 20;width: 20; }
.team-inner-1 ul li .close{font-size: 10px;
padding-left: 8px;
padding-top: 6px;}
.kt-portlet.kt-portlet--height-fluid.kt-widget19 h4 { padding-top:10px; }
.closerDetailsSection h5 { padding-top:10px; }