<form autocomplete="off" >
  <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
      <div class="kt-container kt-container--fluid">
        <div class="kt-subheader__main">
          <h3 class="kt-subheader__title">
            <a href="javascript:;" routerLink="/dashboard">
              Dashboard
            </a>
          </h3>
          <span class="kt-subheader__separator kt-hidden"></span>
          <div class="kt-subheader__breadcrumbs">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="javascript:;" routerLink="/quotes" class="kt-subheader__breadcrumbs-link"> Quotation's </a>
          </div>
          <span class="kt-subheader__separator kt-hidden"></span>
          <div class="kt-subheader__breadcrumbs">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            Quotation
          </div>
        </div>
      </div>
    </div>
    <input type="hidden" name="Id" #Id="ngModel" [(ngModel)]="quoteService.QuoteData.Id">
    <input type="hidden" name="CustomerId" #CustomerId="ngModel" [(ngModel)]="quoteService.QuoteData.CustomerId">
    <div class="new-request-main-section jobs-for-client-section">
      <div class="kt-container kt-container--fluid quote-head">
        <div class="new-requst-filter_form">
          <div class="quoteBody quote-edit-body">
            <div class="col-md-12 section-client-requst-form bodyTitle quote-edit-request">
              <div class="">
                <div class="kt-section">
                  <h3 class="kt-section__title">
                    <a href="javascript:;">
                      <p> QUOTATION FOR
                        <span>{{quoteService.QuoteData.CompanyName}}</span>
                      </p>
                    </a>
                    <i data-toggle="kt-tooltip" data-width="auto" class="kt-section__help" title=""
                      data-original-title="If different than the corresponding address"></i>
                  </h3>
                </div>
              </div>
              <div class="kt-section__content col-md-7 requst-for-client-name">
                <div class="row">
                  <div class="col-lg-11 padd-left-0">
                    <label>Subject<span class="text-danger">*</span></label>
                    <textarea maxlength="1024" [ngClass]="{'InvalidInput': isQuoteTitleValid===false}" name="JobTitle"
                      #JobTitle="ngModel" (keyup)="validateInput($event)" (change)="validateInput($event)"
                      [(ngModel)]="quoteService.QuoteData.JobTitle" class="form-control" placeholder="Subject"
                      rows="1"></textarea>
                    <span *ngIf="isQuoteTitleValid===false" class="spnError">Quotation number is required.</span>
                    <div class="row qtAddressSection">
                      <div class="col-md-6">
                        <label>Address : &nbsp;</label><br>
                        <span>
                          {{quoteService.QuoteData.CustomerAddress}}
                        </span>
                      </div>
                      <div class="col-md-6">
                        <label>Contact Details &nbsp;</label><br />
                        <label>{{quoteService.QuoteData.CustomerName}}</label><br>
                        <span class="kt-widget4__sub">
                          <span>{{quoteService.QuoteData.CustomerEmail}}</span><br />
                          <span>{{quoteService.QuoteData.CustomerContactNo}}</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-5 new-requst-client-name qtbdsecton">
                <div class="kt-widget4 kt-widget4--sticky">
                  <div class="kt-widget4__items kt-widget4__items--bottom kt-portlet__space-x kt-margin-b-20">
                    <div class="row">
                      <div class="kt-widget4__item">
                        <div class="col-md-4">
                          <div class="kt-widget4__info">
                            <a href="javascript:;" class="kt-widget4__title">
                              Quotation
                            </a>
                            <span class="kt-widget4__sub">
                              Rate opportunity
                            </span>
                          </div>
                        </div>
                        <div class="col-md-8">
                            <span class="kt-widget4__ext" *ngIf="!QuoteNosChange">
                              <span class="kt-widget4__number kt-font-danger">{{quoteService.QuoteData.QuoteId}}</span>
                            </span>
                            <span class="kt-widget4__ext" *ngIf="QuoteNosChange">
                              <span
                                  class="input-group-addon">{{ genicProfile.formData.QuotePrefix }}-</span>
                              <span>
                                <input type="number" maxlength="5" class="form-control btnChangeQuote" name="QuoteUniqueID"
                                [(ngModel)]="quoteService.QuoteData.QuoteUniqueID" style="height: 33px !important;
                                width: 61px;
                                display: inline-block;"/>
                              </span>
                            </span>
                          </div>
                          <div class="col-md-3" style="display: none;">
                            <span class="kt-widget4__ext">
                              <span class="kt-widget4__number kt-font-danger">
                                <a (click)="onQuoteNosChange()" href="javascript:;">{{QuoteNosChangeBtn}}</a>
                              </span>
                            </span>
                          </div> 
                      </div>
                      <div class="kt-widget4__item">
                        <div class="col-md-4">
                          <label for="">Attention</label>
                        </div>
                        <div class="col-md-8">
                          <input type="text" 
                          placeholder="Attention"
                          [(ngModel)]="quoteService.QuoteData.Attention" class="form-control"
                          name="Attention">
                        </div>
                      </div>

                      <div class="kt-widget4__item" style="display:none;">
                        <div class="col-md-5">
                          <label for="">Prepared By</label>
                        </div>
                        <div class="col-md-7">
                          <input type="text" 
                          placeholder="Prepared By"
                          [(ngModel)]="quoteService.QuoteData.PreparedBy" class="form-control"
                          name="PreparedBy">
                        </div>
                      </div>
                      <div class="kt-widget4__item">
                        <label _ngcontent-ndn-c4="" class="kt-checkbox kt-checkbox--solid kt-checkbox--brand check-ticket">
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 new-request-service-details-form">
              <div class="row">
                <div class="col-md-12 job-for-tab-content">
                  <div class="kt-portlet kt-portlet--height-fluid kt-widget19">
                    <div class="kt-portlet__head">
                      <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                          LINE ITEMS<span class="text-danger">*</span>
                        </h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="kt-portlet__body">
                        <div class="col-md-12">
                          <table class="table table-borderless table-sm">
                            <tr>
                              <th colspan="2" width="50%">
                                <div class="product-service-colun-name">
                                  {{this.currentUser.Product.toUpperCase()}}/SERVICES</div>
                              </th>
                              <th width="15%">
                                <div class="product-service-colun-name">QTY
                                </div>
                              </th>
                              <th width="15%">
                                <div class="product-service-colun-name">UNIT
                                  COST</div>
                              </th>
                              <th width="15%">
                                <div class="product-service-colun-name">TOTAL
                                </div>
                              </th>
                              <th width="5%"></th>
                            </tr>
                            <tr>
                              <td colspan="6">
                                <div class="client-view-border-info"></div>
                              </td>
                            </tr>
                            <tr class="border" *ngFor="let x of quoteService.QuoteItemList; let i=index">
                              <td colspan="2">
                                <b>{{ x.ItemName }}</b><br>{{ x.ItemDescription}}
                                <div *ngIf="x.InWarranty">
                                  {{x.WarrantyDays}} Days warranty
                                  <span *ngIf="x.UniqId?.length > 0">({{x.UniqId}})</span>
                                </div>
                              </td>
                              <td>
                                <div *ngIf="x.Type === 'Product'"> {{ x.Qty}}</div>
                              </td>
                              <td>
                                ${{ x.UnitCost}}</td>
                              <td>
                                {{ x.Total}}</td>
                              <td>
                                <div class="btn-group btnOpp">
                                  <a href="javascript:;" class="btn-Edit" (click)="PupulateQuoteProductList(x)"
                                    title="edit">
                                    <i class="la la-edit"></i>
                                  </a>
                                  <a href="javascript:;" class=" btn-remove" (click)="RemoveQuoteItem(x.Id)"
                                    title="remove">
                                    <i class="la la-trash-o"></i>
                                  </a>
                                </div>
                              </td>
                            </tr>
                            <tr> 
                              <td colspan="2">
                                <div class="row radio-service">
                                  <div *ngIf="!currentUser.Permissions.IsProductOnly" class="col-md-4">
                                    <label class="radio-inline"><input type="radio" name="QuoteItemData.Type"
                                        #QuoteItemData.Type="ngModel" [(ngModel)]="quoteService.QuoteItemData.Type"
                                        (change)="OnQuationItemTypeChange()" value="Product">{{this.currentUser.Product}}</label>
                                  </div>
                                  <div *ngIf="!currentUser.Permissions.IsProductOnly" class="col-md-4">
                                    <label class="radio-inline"><input type="radio" name="QuoteItemData.Type"
                                        #QuoteItemData.Type="ngModel" [(ngModel)]="quoteService.QuoteItemData.Type"
                                        (change)="OnQuationItemTypeChange()" value="Service">Service</label>
                                  </div>
                                </div>
                              </td>
                              <td colspan="4"></td>
                            </tr>
                            <tr>
                              <td colspan="2">
                                <div class="row radio-service">
                                  <div class="col-md-12" *ngIf="ItemBtn === 'Add'">
                                    <l-select2 *ngIf="this.quoteService.QuoteItemData.Type === 'Service'"
                                      name="product_formcontrol" class="select2customcss" [options]="productdata"
                                      [data]="data" (valueChange)="WhenSelectProductChange($event)">
                                    </l-select2>
                                    <l-select2 *ngIf="this.quoteService.QuoteItemData.Type === 'Product'"
                                      name="product_formcontrol" class="select2customcss" [options]="productdata"
                                      [data]="data" (valueChange)="WhenSelectProductChange($event)">
                                    </l-select2>
                                  </div>
                                  <div class="col-md-12" *ngIf="ItemBtn === 'Update'">
                                    <label class="form-control">
                                      {{quoteService.QuoteItemData.ItemName}}
                                    </label>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <input *ngIf="quoteService.QuoteItemData.Type === 'Product'" name="QuoteItemData.Qty"
                                  #QuoteItemData.Qty="ngModel" [(ngModel)]="quoteService.QuoteItemData.Qty"
                                  height="30px" type="text" min="0" maxlength="3" class="form-control"
                                  [ngClass]="{'InvalidInput': isQtyValid===false}" (keyup)="CalculateQuoteProductCost()"
                                  (keypress)="numberOnly($event)" placeholder="Quantity">
                              </td>
                              <td>
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                      <i class="fa fa-dollar-sign"></i>
                                    </span>
                                  </div>
                                  <input name="QuoteItemData.UnitCost" #QuoteItemData.UnitCost="ngModel" type="number"
                                    min="0" maxlength="6" [(ngModel)]="quoteService.QuoteItemData.UnitCost"
                                    class="form-control" [ngClass]="{'InvalidInput': ItemUnitCosttIsValid===false}"
                                    (keyup)="CalculateQuoteProductCost()" (keypress)="numberwithDecimalOnly($event)"
                                    placeholder="Unit Cost">
                                </div>
                              </td>
                              <td>
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                      <i class="fa fa-dollar-sign"></i>
                                    </span>
                                  </div>
                                  <input name="QuoteItemData.Total" #QuoteItemData.Total="ngModel" type="number" min="0"
                                    [(ngModel)]="quoteService.QuoteItemData.Total" height="30px" class="form-control"
                                    placeholder="Total Cost" readonly>
                                </div>
                              </td>
                              <td></td>
                            </tr>
                            <tr>
                              <td colspan="2">
                                <textarea name="QuoteItemData.ItemDescription" #QuoteItemData.ItemDescription="ngModel"
                                  [(ngModel)]="quoteService.QuoteItemData.ItemDescription" class="form-control"
                                  placeholder="Description" rows="3"></textarea>
                              </td>
                              <td colspan="4">
                                <div class="row" *ngIf="currentUser.Permissions.ProductWarranty">
                                  <div class="col-lg-12 col-md-12" *ngIf="tempInWarranty">
                                    <div class="row">
                                      <div class="col-lg-7 col-md-7 padd-top-10" style="margin:auto;">
                                        <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                                          <input type="checkbox" name="quoteService.QuoteItemData.InWarranty"
                                            #quoteService.QuoteItemData.InWarranty="ngModel" (change)="GenerateUniqueRandom()"
                                            [(ngModel)]="quoteService.QuoteItemData.InWarranty">
                                          want to give Warranty on
                                          <i *ngIf="quoteService.QuoteItemData.Type === 'Product'">
                                            {{this.currentUser.Product}}
                                          </i>
                                          <i *ngIf="quoteService.QuoteItemData.Type === 'Service'">
                                            Service
                                          </i>
                                          <span></span>
                                        </label>

                                      </div>
                                      <div class="col-lg-5 col-md-5" style="margin:auto;"
                                        *ngIf="quoteService.QuoteItemData.InWarranty">
                                        {{quoteService.QuoteItemData.WarrantyDays}}
                                        Days Warranty
                                      </div>
                                      <div class="col-lg-5 col-md-5" *ngIf="!quoteService.QuoteItemData.InWarranty">
                                      </div>
                                    </div>

                                    <div class="row" *ngIf="quoteService.QuoteItemData.InWarranty">
                                      <div class="col-lg-7 col-md-7">
                                        <input name="quoteService.QuoteItemData.UniqId"
                                          #quoteService.QuoteItemData.UniqId="ngModel"
                                          [(ngModel)]="quoteService.QuoteItemData.UniqId"
                                          [ngClass]="{'InvalidInput': ItemUniqueIsValid===false}" height="30px"
                                          type="text" min="0" maxlength="64" class="form-control"
                                          placeholder="Serial No">
                                      </div>
                                      <div class="col-lg-5 col-md-5">
                                        <a class="text-warning btnStockUpdate" href="javascript:void(0)"
                                          (click)="enablewarrantchange()">
                                          <span *ngIf="!customwarrantyShowEdit"><i class="fa fa-plus"
                                              aria-hidden="true"></i>
                                            Edit Warranty</span>
                                          <span *ngIf="customwarrantyShowEdit"><i class="fa fa-minus"
                                              aria-hidden="true"></i>
                                            Hide </span>
                                        </a>
                                        <div class="kt-radio-list" *ngIf="customwarrantyShowEdit">
                                          <label class="kt-radio kt-radio--bold kt-radio--brand">
                                            <input type="radio" class="custom-control-input" value="90"
                                              name="WarrantyDays" #WarrantyDays="ngModel"
                                              (change)="customwarrantyShowMethor()"
                                              [(ngModel)]="quoteService.QuoteItemData.WarrantyDays">
                                            90 Days
                                            <span></span>
                                          </label>
                                          <label class="kt-radio kt-radio--bold kt-radio--brand">
                                            <input type="radio" class="custom-control-input" value="180"
                                              name="WarrantyDays" #WarrantyDays="ngModel"
                                              (change)="customwarrantyShowMethor()"
                                              [(ngModel)]="quoteService.QuoteItemData.WarrantyDays">
                                            180 Days
                                            <span></span>
                                          </label>
                                          <label class="kt-radio kt-radio--bold kt-radio--brand">
                                            <input type="radio" class="custom-control-input" value="270"
                                              name="WarrantyDays" #WarrantyDays="ngModel"
                                              (change)="customwarrantyShowMethor()"
                                              [(ngModel)]="quoteService.QuoteItemData.WarrantyDays">
                                            270 Days
                                            <span></span>
                                          </label>
                                          <label class="kt-radio kt-radio--bold kt-radio--brand">
                                            <input type="radio" class="custom-control-input" value="365"
                                              name="WarrantyDays" #WarrantyDays="ngModel"
                                              (change)="customwarrantyShowMethor()"
                                              [(ngModel)]="quoteService.QuoteItemData.WarrantyDays">
                                            365 Days
                                            <span></span>
                                          </label>
                                          <label class="kt-radio kt-radio--bold kt-radio--brand"
                                            *ngIf="customwarrantyShow">
                                            <input type="radio" class="custom-control-input" name="WarrantyDays"
                                              #WarrantyDays="ngModel" (change)="customwarrantyShowMethor()"
                                              [(ngModel)]="quoteService.QuoteItemData.WarrantyDays">
                                            Custom
                                            <span></span>
                                          </label>
                                          <label class="kt-radio kt-radio--bold kt-radio--brand"
                                            *ngIf="!customwarrantyShow">
                                            <input type="radio" class="custom-control-input" name="WarrantyDays" checked
                                              (change)="customwarrantyShowMethor()">
                                            Custom
                                            <span></span>
                                          </label>

                                        </div>
                                        <div *ngIf="!customwarrantyShow">
                                          <input *ngIf="customwarrantyShowEdit"
                                            name="quoteService.QuoteItemData.WarrantyDays"
                                            #quoteService.QuoteItemData.WarrantyDays="ngModel"
                                            [(ngModel)]="quoteService.QuoteItemData.WarrantyDays" height="30px"
                                            type="number" min="0" maxlength="4" class="form-control" placeholder="Days">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="6">
                                <div class="form-group form-group-last">
                                  <div class="col-lg-4">
                                    <a href="javascript:;"
                                      (click)="addProductToQuote(quoteService.QuoteItemData.Id,quoteService.QuoteItemData.ItemName,quoteService.QuoteItemData.Qty,quoteService.QuoteItemData.UnitCost,quoteService.QuoteItemData.Total,quoteService.QuoteItemData.ItemDescription)"
                                      class="btn btn-brand btn-sm add-line-item-btn">
                                      <i class="la la-plus"></i>
                                      {{ ItemBtn }}
                                    </a>
                                    <a style="margin-left: 2px;" href="javascript:;" (click)="CleareProductToQuote()"
                                      class="btn btn-brand btn-sm add-line-item-btn">
                                      <i class="la la-times"></i>
                                      Cancel
                                    </a>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </table>
                          <div class="col-md-12">
                            <div class="quots-client-view-border-info"></div>
                          </div>
                          <div class="row kt-widget4 total-job-price-client">
                            <div class="kt-widget4__item">

                              <div class="kt-widget4__info">
                                <p>
                                  TOTAL
                                </p>
                              </div>
                              <p> ${{ quoteService.QuoteData.NetAmount.toFixed(2) }} </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 job-for-tab-content">
                  <div class="kt-portlet kt-portlet--height-fluid kt-widget19">
                    <div class="kt-portlet__head">
                      <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                          Quotation value
                        </h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="kt-portlet__body">
                        <div class="col-md-12">
                          <div class="tab-content" style="overflow-x: scroll;overflow:hidden;">
                            <div class="tab-pane active" id="kt_widget11_tab1_content">
                              <div class="kt-widget11">
                                <div id="kt_repeater_1">
                                  <div id="kt_repeater_1">
                                    <div class="row col-md-12" style="padding: 0;">
                                      <div class="col-md-7 col-sm-6 col-xs-6 qty-unit-total">
                                        <div class="clientRemarkSection">
                                          <div class="row--">
                                            <div class="CLRemark">
                                              <textarea style="width: 100%;" name="ClientRemark" maxlength="1024"
                                                #ClientRemark="ngModel"
                                                [(ngModel)]="quoteService.QuoteData.ClientRemark" class="form-control"
                                                placeholder="Client Remarks" rows="3">
                                              </textarea>
                                            </div>
                                          </div>
                                          <div class="row--" style="display: none;">
                                            <div class="clientViewSection">
                                              <div class="form-group">
                                                <span class="clView">
                                                  <i class="fa fa-eye" aria-hidden="true"></i>
                                                  <label>Client View</label>
                                                </span>
                                                <label>
                                                  Adjust what your client will see on this quote. To change the default
                                                  for ​all future quotes, visit the
                                                  PDF Configuration.
                                                </label>
                                                <div class="kt-checkbox-inline">
                                                  <label class="kt-checkbox">
                                                    <input type="checkbox" name="ClientViewQty"
                                                      [(ngModel)]="quoteService.QuoteData.ClientViewQty"> Quantities
                                                    <span></span>
                                                  </label>
                                                  <label class="kt-checkbox">
                                                    <input type="checkbox" name="ClientViewUnitCost"
                                                      [(ngModel)]="quoteService.QuoteData.ClientViewUnitCost"> Unit Cost
                                                    <span></span>
                                                  </label>
                                                  <label class="kt-checkbox">
                                                    <input type="checkbox" name="ClientViewLineItemTotal"
                                                      [(ngModel)]="quoteService.QuoteData.ClientViewLineItemTotal"> Line
                                                    item totals
                                                    <span></span>
                                                  </label>
                                                  <label class="kt-checkbox">
                                                    <input type="checkbox" name="ClientViewTotal"
                                                      [(ngModel)]="quoteService.QuoteData.ClientViewTotal"> Total
                                                    <span></span>
                                                  </label>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-md-5 invoicing-list-view-border-left"
                                        style="padding: 0;margin-top: 16px;">
                                        <div class="row slsbTotal">
                                          <div class="col-md-6">
                                            <div class="subTOtal">
                                              <span>Sub Total</span>
                                            </div>
                                          </div>
                                          <div class="col-md-6">
                                            <div class="SubAmount">
                                              <span>${{quoteService.QuoteData.SubTotal.toFixed(2)}}</span>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="row" style="margin: 33px 0 0 0;padding: 0;">
                                          <div class="col-md-3">
                                            <div class="disHead">
                                              <span>Discount</span>
                                            </div>
                                          </div>
                                          <div class="col-md-3">
                                            <div class="inputText">
                                              <input type="number" placeholder="Discount" min="0" maxlength="4"
                                                class="form-control" (change)="changeDiscountValue()"
                                                (keydown)="changeDiscountValue()"
                                                (keypress)="numberwithDecimalOnly($event)"
                                                (keyup)="changeDiscountValue()" name="DiscountTextValue"
                                                [(ngModel)]="quoteService.QuoteData.DiscountTextValue">
                                            </div>
                                          </div>
                                          <div class="col-md-3">
                                            <div class="selectionDrop">
                                              <select class="form-control" (change)="changeDiscountValue()"
                                                name="DiscountType" [(ngModel)]="quoteService.QuoteData.DiscountType">
                                                <option value="0">SGD</option>
                                                <option value="1">%</option>
                                              </select>
                                            </div>
                                          </div>
                                          <div class="col-md-3">
                                            <div class="discountAmt">
                                              <span>${{quoteService.QuoteData.DiscountAmount.toFixed(2)}}</span>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="row" style="padding: 0;margin: 18px 0 0 0;">
                                          <div class="col-md-3">
                                            <div class="taxHead">
                                              <span>Tax</span>
                                            </div>
                                          </div>
                                          <div class="col-md-6">
                                            <div class="taxSectionHead">
                                              <select class="form-control" (change)="CalculateQuoteTax()" name="TaxRate"
                                                [(ngModel)]="quoteService.QuoteData.TaxRate">
                                                <option value="0">---Select Tax---</option>
                                                <option *ngFor="let t of quoteService.TextList" value="{{t.TaxRate}}">
                                                  {{t.TaxName}}</option>
                                              </select>
                                            </div>
                                          </div>
                                          <div class="col-md-3">
                                            <div class="taxAmitHead">
                                              <span>${{quoteService.QuoteData.TaxAmount.toFixed(2)}}</span>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="row slFinalRow">
                                          <div class="col-md-6">
                                            <div class="subTOtal">
                                              <span>Total</span>
                                            </div>
                                          </div>
                                          <div class="col-md-6">
                                            <div class="SubAmount">
                                              <span>${{quoteService.QuoteData.NetAmount.toFixed(2)}}</span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="on-site-client-required">
                <div class="kt-portlet kt-portlet--height-fluid kt-widget19 internal-notes-attachment">
                  <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                      <h3 class="kt-portlet__head-title">

                        <strong>
                          TERMS & CONDITIONS
                        </strong>
                      </h3>
                    </div>
                  </div>
                  <div class="kt-portlet__body">
                    <div class="kt-widget19__wrapper">
                      <textarea name="QuoteTermsAndCondition"
                        [(ngModel)]="quoteService.QuoteData.QuoteTermsAndCondition" class="form-control"
                        id="QuoteTermsAndCondition" rows="3" maxlength="1024" placeholder="Terms And Condition">
                      </textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="on-site-client-required">
                <div class="kt-portlet kt-portlet--height-fluid kt-widget19 internal-notes-attachment">
                  <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                      <h3 class="kt-portlet__head-title">

                        <strong>
                          ADDITIONAL REMARKS <span class="tooltip-questionMark" data-container="body"
                            data-toggle="kt-popover" data-placement="top"
                            data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                            data-original-title="" title="">?</span>
                        </strong>
                      </h3>
                    </div>
                  </div>
                  <div class="kt-portlet__body">
                    <div class="kt-widget19__wrapper">
                      <textarea name="InternalNotes" [(ngModel)]="quoteService.QuoteData.InternalNotes"
                        class="form-control" id="exampleTextarea" rows="3" maxlength="1024"
                        placeholder="Additional Remarks">
                      </textarea>

                      <div class="row">
                        <div class="col-md-1" *ngFor="let x of quoteService.QuoteAttachmentList">
                          <div class="row">
                            <generic-ticket-icon-attachment [(Name)]="x.AttachmentExtension" [(Path)]="x.Attachment"
                              [Status]="1"></generic-ticket-icon-attachment>
                            <div class="col-md-3"></div>
                            <div class="col-md-3">
                              <a href="javascript:;" (click)="RemoveQuoteAttachement(x.Id)"><i
                                  class="fa fa-trash text-danger"></i></a>
                            </div>
                            <div class="col-md-3">
                              <a href="{{x.Attachment}}" target="_blank"><i class="fa fa-download text-success"></i></a>
                            </div>
                            <div class="col-md-3"></div>
                          </div>
                        </div>
                      </div>
                      <div class="file-upload">
                        <label for="upload" class="file-upload__label"><i title="Add Attachment"
                            class="fa fa-paperclip"></i>
                          <br></label>
                        <input id="upload" class="file-upload__input" type="file" name="file-upload"
                          (change)="picked($event)">
                      </div>
                      <br>
                      <div class="form-group">
                        <label>Link note to related</label>
                        <div class="kt-checkbox-inline">
                          <label class="kt-checkbox">
                            <input type="checkbox" name="LinkToJob" #LinkToJob="ngModel"
                              [(ngModel)]="quoteService.QuoteData.LinkToJob"> Ticket
                            <span></span>
                          </label>
                          <label class="kt-checkbox" *ngIf="currentUser.Permissions.InvoiceView">
                            <input type="checkbox" name="LinkToInvoice" #LinkToInvoice="ngModel"
                              [(ngModel)]="quoteService.QuoteData.LinkToInvoice"> Invoice
                            <span></span>
                          </label>
                        </div>
                      </div>

                      <div class="form-group">
                        <label>Email Notification</label>
                        <div class="kt-checkbox-inline">
                          <label class="kt-checkbox">
                            <input type="checkbox" name="QuoteAdmin" #QuoteAdmin="ngModel"
                              [(ngModel)]="notifyService.NotificationData.QuoteAdmin"> Admin
                            <span></span>
                          </label>
                          <label class="kt-checkbox">
                            <input type="checkbox" name="QuoteCustomer" #QuoteCustomer="ngModel"
                              [(ngModel)]="notifyService.NotificationData.QuoteCustomer"> Customer
                            <span></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 job-for-tab-content">
                    <generic-reminder-module [(Id)]="quoteService.QuoteData.Id" [(Token)]="currentUser.Token"
                      [ReminderModule]="'quote'"></generic-reminder-module>
                  </div>
                </div>
                <div class="row new-request-footer-bottom">
                  <input type="hidden" name="QuoteId" [(ngModel)]="quoteService.QuoteData.QuoteId" />
                  <button type="reset" routerLink="/quotes" class="btn btn-secondary">CANCEL</button>
                  <div class="btn-group" *ngIf="!loader">
                    <button type="button" class="btn btn-brand" (click)="onQuotePost(1)" >{{ createbuttontext }} as Draft</button>
                   &nbsp;&nbsp;&nbsp;&nbsp; <button type="button" class="btn btn-brand" (click)="onQuotePost(2)" >{{ createbuttontext }} as Pending</button>
                  </div>
                  <div class="btn-group" *ngIf="loader">
                    <div class="btn btn-brand"> please wait... </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>