<div class="kt-aside kt-aside--fixed kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside">
    <div class="kt-aside__brand kt-grid__item " id="kt_aside_brand">
        <div class="kt-aside__brand-logo">
            <a href="javascript:;">
                <img alt="Logo" src="{{genicProfile.formData.Logo}}">
            </a>
        </div>
        <div class="kt-aside__brand-tools" style="margin-left: 9px;">
            <button [class]="menuIsOpen" (click)="menutoggel()" id="kt_aside_toggler"><span></span></button>
        </div>
    </div>
    <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
        <div id="kt_aside_menu" class="kt-aside-menu " data-ktmenu-vertical="1" data-ktmenu-scroll="1">
            <ul class="kt-menu__nav ">
                <li *ngIf="currentUser.Permissions.DashboardAdmin"
                    [ngClass]="tabOpen === 0 ? 'kt-menu__item kt-menu__item--submenu kt-menu__item--open':'kt-menu__item kt-menu__item--submenu'"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" (click)="tabtoggel(0)" routerLink="/dashboard"
                        class="kt-menu__link kt-menu__toggle"><i
                            class="kt-menu__link-icon flaticon2-architecture-and-city"></i><span
                            class="kt-menu__link-text">Dashboard</span></a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item kt-menu__item--parent" aria-haspopup="true">
                                <span class="kt-menu__link"><span class="kt-menu__link-text">Dashboard</span></span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li *ngIf="currentUser.Permissions.DashboardEngineer"
                    [ngClass]="tabOpen === 1 ? 'kt-menu__item kt-menu__item--submenu kt-menu__item--open':'kt-menu__item kt-menu__item--submenu'"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" (click)="tabtoggel(1)" routerLink="/engineer/engineer-dashboard"
                        class="kt-menu__link kt-menu__toggle"><i
                            class="kt-menu__link-icon flaticon2-architecture-and-city"></i><span
                            class="kt-menu__link-text">Dashboard</span></a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item kt-menu__item--parent" aria-haspopup="true">
                                <span class="kt-menu__link"><span class="kt-menu__link-text">Dashboard</span></span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li *ngIf="currentUser.Permissions.CustomerView || currentUser.Permissions.CustomerCreate"
                    [ngClass]="tabOpen === 3 ? 'kt-menu__item kt-menu__item--submenu kt-menu__item--open':'kt-menu__item kt-menu__item--submenu'"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" (click)="tabtoggel(3)" class="kt-menu__link kt-menu__toggle"><i
                            class="kt-menu__link-icon flaticon-customer"></i><span
                            class="kt-menu__link-text">Customer</span><i
                            class="kt-menu__ver-arrow la la-angle-right"></i></a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item kt-menu__item--parent" aria-haspopup="true">
                                <span class="kt-menu__link"><span class="kt-menu__link-text">Customer</span></span>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true"
                                *ngIf="currentUser.Permissions.CustomerView">
                                <a routerLink="/customers" outerLinkActive="active" class="kt-menu__link ">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">Customer List</span>
                                </a>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true"
                                *ngIf="currentUser.Permissions.CustomerCreate">
                                <a (click)="RunBlankModule('customer')" outerLinkActive="active" class="kt-menu__link ">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">Add Customer</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li *ngIf="currentUser.Permissions.CalendarView || currentUser.Permissions.ResourceView || currentUser.Permissions.MapView"
                    [ngClass]="tabOpen === 4 ? 'kt-menu__item kt-menu__item--submenu kt-menu__item--open':'kt-menu__item kt-menu__item--submenu'"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" (click)="tabtoggel(4)" class="kt-menu__link kt-menu__toggle"><i
                            class="kt-menu__link-icon flaticon-calendar"></i><span
                            class="kt-menu__link-text">Calendar</span><i
                            class="kt-menu__ver-arrow la la-angle-right"></i></a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item kt-menu__item--parent" aria-haspopup="true">
                                <span class="kt-menu__link"><span class="kt-menu__link-text">Calendar</span></span>
                            </li>
                            <li *ngIf="currentUser.Permissions.CalendarView" class="kt-menu__item "
                                aria-haspopup="true">
                                <a routerLink="/calendar/month-tickets" class="kt-menu__link ">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">Calendar</span>
                                </a>
                            </li>
                            <li *ngIf="currentUser.Permissions.ResourceView" class="kt-menu__item "
                                aria-haspopup="true">
                                <a routerLink="/calendar/month-resource" class="kt-menu__link ">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">Resource</span>
                                </a>
                            </li>
                            <li *ngIf="currentUser.Permissions.MapView" class="kt-menu__item " aria-haspopup="true">
                                <a routerLink="/calendar/map" class="kt-menu__link ">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">Map</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li *ngIf="currentUser.Permissions.PropertyView"
                    [ngClass]="tabOpen === 5 ? 'kt-menu__item kt-menu__item--submenu kt-menu__item--open':'kt-menu__item kt-menu__item--submenu'"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" (click)="tabtoggel(5)" class="kt-menu__link kt-menu__toggle"><i
                            class="kt-menu__link-icon flaticon-buildings"></i><span
                            class="kt-menu__link-text">Property</span><i
                            class="kt-menu__ver-arrow la la-angle-right"></i></a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item kt-menu__item--parent" aria-haspopup="true">
                                <span class="kt-menu__link"><span class="kt-menu__link-text">Property</span></span>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a routerLink="/properties" class="kt-menu__link ">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">Property List</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>

                <li *ngIf="currentUser.Permissions.QuoteView"
                    [ngClass]="tabOpen === 6 ? 'kt-menu__item kt-menu__item--submenu kt-menu__item--open':'kt-menu__item kt-menu__item--submenu'"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" (click)="tabtoggel(6)" class="kt-menu__link kt-menu__toggle"><i
                            class="kt-menu__link-icon flaticon2-quotation-mark"></i><span
                            class="kt-menu__link-text">Quotations</span><i
                            class="kt-menu__ver-arrow la la-angle-right"></i></a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item kt-menu__item--parent" aria-haspopup="true">
                                <span class="kt-menu__link"><span class="kt-menu__link-text">Quotations</span></span>
                            </li>

                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="javascript:void(0);" routerLink="/quotes" class="kt-menu__link ">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">Manage Quotation's</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li *ngIf="currentUser.Permissions.InvoiceView"
                    [ngClass]="tabOpen === 7 ? 'kt-menu__item kt-menu__item--submenu kt-menu__item--open':'kt-menu__item kt-menu__item--submenu'"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" (click)="tabtoggel(7)" class="kt-menu__link kt-menu__toggle"><i
                            class="kt-menu__link-icon flaticon-file-2"></i><span
                            class="kt-menu__link-text">Invoices</span><i
                            class="kt-menu__ver-arrow la la-angle-right"></i></a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item kt-menu__item--parent" aria-haspopup="true">
                                <span class="kt-menu__link"><span class="kt-menu__link-text">Invoices</span></span>
                            </li>

                            <li class="kt-menu__item " aria-haspopup="true">
                                <a class="kt-menu__link " routerLink="/invoices">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">Manage Invoice's</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li *ngIf="currentUser.Permissions.TicketView"
                    [ngClass]="tabOpen === 8 ? 'kt-menu__item kt-menu__item--submenu kt-menu__item--open':'kt-menu__item kt-menu__item--submenu'"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" (click)="tabtoggel(8)" class="kt-menu__link kt-menu__toggle"><i
                            class="kt-menu__link-icon flaticon2-browser-2"></i><span
                            class="kt-menu__link-text">{{this.currentUser.Ticket}}s</span>
                        <i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item kt-menu__item--parent" aria-haspopup="true">
                                <span class="kt-menu__link"><span class="kt-menu__link-text">{{this.currentUser.Ticket}}s</span></span>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a routerLink="/tickets" class="kt-menu__link ">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">Manage {{this.currentUser.Ticket}}'s</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li *ngIf="currentUser.Type === 'Customer'"
                    [ngClass]="tabOpen === 1 ? 'kt-menu__item kt-menu__item--submenu kt-menu__item--open':'kt-menu__item kt-menu__item--submenu'"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" (click)="tabtoggel(1)" routerLink="/customer/customer-dashboard"
                        class="kt-menu__link kt-menu__toggle"><i
                            class="kt-menu__link-icon flaticon2-architecture-and-city"></i><span
                            class="kt-menu__link-text">Dashboard</span></a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item kt-menu__item--parent" aria-haspopup="true">
                                <span class="kt-menu__link"><span class="kt-menu__link-text">Dashboard</span></span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li *ngIf="currentUser.Type === 'Customer'"
                    [ngClass]="tabOpen === 8 ? 'kt-menu__item kt-menu__item--submenu kt-menu__item--open':'kt-menu__item kt-menu__item--submenu'"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" (click)="tabtoggel(8)" class="kt-menu__link kt-menu__toggle"><i
                            class="kt-menu__link-icon flaticon2-browser-2"></i><span
                            class="kt-menu__link-text">{{this.currentUser.Ticket}}s</span>
                        <i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item kt-menu__item--parent" aria-haspopup="true">
                                <span class="kt-menu__link"><span class="kt-menu__link-text">{{this.currentUser.Ticket}}s</span></span>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a routerLink="/customer/customer-tickets" class="kt-menu__link ">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">Manage {{this.currentUser.Ticket}}'s</span>
                                </a>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a routerLink="/customer/customer-new-or-defect-ticket" class="kt-menu__link "
                                    (click)="RunBlankModule('ticket')">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">New Job Request</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li *ngIf="currentUser.Type === 'Customer'"
                    [ngClass]="tabOpen === 97 ? 'kt-menu__item kt-menu__item--submenu kt-menu__item--open':'kt-menu__item kt-menu__item--submenu'"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" (click)="tabtoggel(97)" routerLink="/customer/customer-quote"
                        class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-user"></i><span
                            class="kt-menu__link-text">Quotations</span></a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item kt-menu__item--parent" aria-haspopup="true">
                                <span class="kt-menu__link"><span class="kt-menu__link-text">Quotations</span></span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li *ngIf="currentUser.Type === 'Customer'"
                    [ngClass]="tabOpen === 96 ? 'kt-menu__item kt-menu__item--submenu kt-menu__item--open':'kt-menu__item kt-menu__item--submenu'"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" (click)="tabtoggel(96)" routerLink="/customer/customer-profile"
                        class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-user"></i><span
                            class="kt-menu__link-text">Profile</span></a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item kt-menu__item--parent" aria-haspopup="true">
                                <span class="kt-menu__link"><span class="kt-menu__link-text">Profile</span></span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li *ngIf="currentUser.Permissions.ReportTicket || currentUser.Permissions.ReportEngineer || currentUser.Permissions.ReportVisit"
                    [ngClass]="tabOpen === 9 ? 'kt-menu__item kt-menu__item--submenu kt-menu__item--open':'kt-menu__item kt-menu__item--submenu'"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" (click)="tabtoggel(9)" class="kt-menu__link kt-menu__toggle"><i
                            class="kt-menu__link-icon flaticon-security"></i><span
                            class="kt-menu__link-text">Reports</span><i
                            class="kt-menu__ver-arrow la la-angle-right"></i></a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item kt-menu__item--parent" aria-haspopup="true">
                                <span class="kt-menu__link"><span class="kt-menu__link-text">Reports</span></span>
                            </li>
                            <li class="kt-menu__item" aria-haspopup="true" *ngIf="currentUser.Permissions.ReportTicket">
                                <a routerLink="/reports/report-ticket" class="kt-menu__link ">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">{{this.currentUser.Ticket}}s</span>
                                </a>
                            </li>
                            <li class="kt-menu__item" aria-haspopup="true"
                                *ngIf="currentUser.Permissions.ReportEngineer">
                                <a routerLink="/reports/report-engineers" class="kt-menu__link ">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">{{this.currentUser.Engineer}}</span>
                                </a>
                            </li>
                            <li class="kt-menu__item" aria-haspopup="true"
                                *ngIf="currentUser.Permissions.ReportEngineer">
                                <a routerLink="/reports/report-engineer-time-sheet" class="kt-menu__link ">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">{{this.currentUser.Engineer}} Time Sheet report</span>
                                </a>
                            </li>
                            <li class="kt-menu__item" aria-haspopup="true" *ngIf="currentUser.Permissions.ReportVisit">
                                <a routerLink="/reports/visits" class="kt-menu__link ">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">Visits</span>
                                </a>
                            </li>
                            <li class="kt-menu__item" aria-haspopup="true" *ngIf="currentUser.Permissions.ReportVisit">
                                <a routerLink="/reports/report-engineer-attendance" class="kt-menu__link ">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">Attendance</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li *ngIf="currentUser.Type === 'Admin' || currentUser.Type === 'SubAdmin'"
                    [ngClass]="tabOpen === 91 ? 'kt-menu__item kt-menu__item--submenu kt-menu__item--open':'kt-menu__item kt-menu__item--submenu'"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" (click)="tabtoggel(91)" routerLink="/reminders/reminder"
                        class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-time"></i><span
                            class="kt-menu__link-text">Reminder</span></a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item kt-menu__item--parent" aria-haspopup="true">
                                <span class="kt-menu__link"><span class="kt-menu__link-text">Reminder</span></span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li *ngIf="currentUser.Permissions.EngineerTicketView"
                    [ngClass]="tabOpen === 221 ? 'kt-menu__item kt-menu__item--submenu kt-menu__item--open':'kt-menu__item kt-menu__item--submenu'"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" (click)="tabtoggel(221)" routerLink="/engineer/engineer-tickets"
                        class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon-settings"></i><span
                            class="kt-menu__link-text">All {{this.currentUser.Ticket}}'s</span>
                        <span>{{AllTicketCount}}</span>
                    </a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item kt-menu__item--parent" aria-haspopup="true">
                                <span class="kt-menu__link"><span class="kt-menu__link-text">All {{this.currentUser.Ticket}}'s</span></span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li *ngIf="currentUser.Permissions.EngineerTicketView"
                    [ngClass]="tabOpen === 220 ? 'kt-menu__item kt-menu__item--submenu kt-menu__item--open':'kt-menu__item kt-menu__item--submenu'"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" (click)="tabtoggel(220)" routerLink="/engineer/engineer-open-tickets"
                        class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon-settings"></i><span
                            class="kt-menu__link-text">Open {{this.currentUser.Ticket}}'s</span>
                        <span>{{OpenTicketCount}}</span>
                    </a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item kt-menu__item--parent" aria-haspopup="true">
                                <span class="kt-menu__link"><span class="kt-menu__link-text">Open {{this.currentUser.Ticket}}'s</span></span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li *ngIf="currentUser.Permissions.EngineerTicketView"
                    [ngClass]="tabOpen === 219 ? 'kt-menu__item kt-menu__item--submenu kt-menu__item--open':'kt-menu__item kt-menu__item--submenu'"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" (click)="tabtoggel(219)" routerLink="/engineer/engineer-hold-tickets"
                        class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon-settings"></i><span
                            class="kt-menu__link-text">Hold Ticket's</span>
                        <span>{{HoldTicketCount}}</span>
                    </a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item kt-menu__item--parent" aria-haspopup="true">
                                <span class="kt-menu__link"><span class="kt-menu__link-text">Hold {{this.currentUser.Ticket}}'s</span></span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li *ngIf="currentUser.Permissions.EngineerTicketView"
                    [ngClass]="tabOpen === 218 ? 'kt-menu__item kt-menu__item--submenu kt-menu__item--open':'kt-menu__item kt-menu__item--submenu'"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" (click)="tabtoggel(218)" routerLink="/engineer/engineer-closed-tickets"
                        class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon-settings"></i><span
                            class="kt-menu__link-text">Closed {{this.currentUser.Ticket}}'s</span>
                        <span>{{ClosedTicketCount}}</span>
                    </a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item kt-menu__item--parent" aria-haspopup="true">
                                <span class="kt-menu__link"><span class="kt-menu__link-text">Closed
                                    {{this.currentUser.Ticket}}'s</span></span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li *ngIf="currentUser.Permissions.EngineerTicketView"
                    [ngClass]="tabOpen === 217 ? 'kt-menu__item kt-menu__item--submenu kt-menu__item--open':'kt-menu__item kt-menu__item--submenu'"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" (click)="tabtoggel(217)" routerLink="/engineer/engineer-today-closed-tickets"
                        class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon-settings"></i><span
                            class="kt-menu__link-text">Today Closed {{this.currentUser.Ticket}}'s</span>
                        <span>{{TodayClosedTicketCount}}</span>
                    </a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item kt-menu__item--parent" aria-haspopup="true">
                                <span class="kt-menu__link"><span class="kt-menu__link-text">Today Closed
                                    {{this.currentUser.Ticket}}'s</span></span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li *ngIf="currentUser.Permissions.EngineerTicketView"
                    [ngClass]="tabOpen === 216 ? 'kt-menu__item kt-menu__item--submenu kt-menu__item--open':'kt-menu__item kt-menu__item--submenu'"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" (click)="tabtoggel(216)" routerLink="/engineer/engineer-upcoming-tickets"
                        class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon-settings"></i><span
                            class="kt-menu__link-text">Upcoming {{this.currentUser.Ticket}}'s</span>
                        <span>{{UpcomingTicketCount}}</span>
                    </a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item kt-menu__item--parent" aria-haspopup="true">
                                <span class="kt-menu__link"><span class="kt-menu__link-text">Upcoming
                                    {{this.currentUser.Ticket}}'s</span></span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li *ngIf="currentUser.Permissions.EngineerTicketView"
                    [ngClass]="tabOpen === 215 ? 'kt-menu__item kt-menu__item--submenu kt-menu__item--open':'kt-menu__item kt-menu__item--submenu'"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" (click)="tabtoggel(215)" routerLink="/engineer/engineer-today-tickets"
                        class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon-settings"></i><span
                            class="kt-menu__link-text">Today {{this.currentUser.Ticket}}'s</span>
                        <span>{{TodayTicketCount}}</span>
                    </a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item kt-menu__item--parent" aria-haspopup="true">
                                <span class="kt-menu__link"><span class="kt-menu__link-text">Today
                                    {{this.currentUser.Ticket}}'s</span></span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li *ngIf="currentUser.Permissions.EngineerTicketView"
                    [ngClass]="tabOpen === 214 ? 'kt-menu__item kt-menu__item--submenu kt-menu__item--open':'kt-menu__item kt-menu__item--submenu'"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" (click)="tabtoggel(214)" routerLink="/engineer/engineer-overdue-tickets"
                        class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon-settings"></i><span
                            class="kt-menu__link-text">OverDue {{this.currentUser.Ticket}}'s</span>
                        <span>{{OverdueTicketCount}}</span>
                    </a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item kt-menu__item--parent" aria-haspopup="true">
                                <span class="kt-menu__link"><span class="kt-menu__link-text">OverDue
                                    {{this.currentUser.Ticket}}'s</span></span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li *ngIf="currentUser.Permissions.EngineerProfileView"
                    [ngClass]="tabOpen === 213 ? 'kt-menu__item kt-menu__item--submenu kt-menu__item--open':'kt-menu__item kt-menu__item--submenu'"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" (click)="tabtoggel(213)" routerLink="/engineer/engineer-profile"
                        class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon-settings"></i><span
                            class="kt-menu__link-text">Profile</span>
                    </a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item kt-menu__item--parent" aria-haspopup="true">
                                <span class="kt-menu__link"><span class="kt-menu__link-text">Profile</span></span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li *ngIf="currentUser.Permissions.EngineerTimesheetView"
                    [ngClass]="tabOpen === 212 ? 'kt-menu__item kt-menu__item--submenu kt-menu__item--open':'kt-menu__item kt-menu__item--submenu'"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" (click)="tabtoggel(212)" routerLink="/engineer/my-ticket-time-sheet"
                        class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon-settings"></i><span
                            class="kt-menu__link-text">My Time sheet</span>
                    </a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item kt-menu__item--parent" aria-haspopup="true">
                                <span class="kt-menu__link"><span class="kt-menu__link-text">My Time sheet</span></span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li *ngIf="currentUser.Permissions.EngineerLeave === true && currentUser.Type === 'Engineer'"
                    [ngClass]="tabOpen === 211 ? 'kt-menu__item kt-menu__item--submenu kt-menu__item--open':'kt-menu__item kt-menu__item--submenu'"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" (click)="tabtoggel(211)" routerLink="/engineer/engineer-leave"
                        class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon-settings"></i><span
                            class="kt-menu__link-text">Leave</span>
                    </a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item kt-menu__item--parent" aria-haspopup="true">
                                <span class="kt-menu__link"><span class="kt-menu__link-text">Leave</span></span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li *ngIf="currentUser.Permissions.EngineerView"
                    [ngClass]="tabOpen === 21 ? 'kt-menu__item kt-menu__item--submenu kt-menu__item--open':'kt-menu__item kt-menu__item--submenu'"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" (click)="tabtoggel(21)" class="kt-menu__link kt-menu__toggle"><i
                            class="kt-menu__link-icon flaticon2-user"></i><span
                            class="kt-menu__link-text">{{this.currentUser.Engineer}}s</span><i
                            class="kt-menu__ver-arrow la la-angle-right"></i></a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a routerLink="/engineers" class="kt-menu__link ">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">{{this.currentUser.Engineer}} List</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>

                <li *ngIf="currentUser.Permissions.ProductView"
                    [ngClass]="tabOpen === 22 ? 'kt-menu__item kt-menu__item--submenu kt-menu__item--open':'kt-menu__item kt-menu__item--submenu'"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" (click)="tabtoggel(22)" class="kt-menu__link kt-menu__toggle"><i
                            class="kt-menu__link-icon flaticon-open-box"></i><span
                            class="kt-menu__link-text">Product</span><i
                            class="kt-menu__ver-arrow la la-angle-right"></i></a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item kt-menu__item--parent" aria-haspopup="true">
                                <span class="kt-menu__link"><span class="kt-menu__link-text">Product</span></span>
                            </li>

                            <li class="kt-menu__item " aria-haspopup="true">
                                <a routerLink="/products" class="kt-menu__link ">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">Product List</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>
                <li *ngIf="currentUser.Permissions.ProductWarranty && (currentUser.Type === 'Admin' || currentUser.Type === 'SubAdmin' || currentUser.Type === 'Engineer')"
                    [ngClass]="tabOpen === 92 ? 'kt-menu__item kt-menu__item--submenu kt-menu__item--open':'kt-menu__item kt-menu__item--submenu'"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" (click)="tabtoggel(92)" routerLink="/warranty/withwarranty"
                        class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon-security"></i><span
                            class="kt-menu__link-text">Warranty</span></a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item kt-menu__item--parent" aria-haspopup="true">
                                <span class="kt-menu__link"><span class="kt-menu__link-text">Warranty</span></span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li *ngIf="currentUser.Permissions.CanEngineerCreateTicket && currentUser.Type === 'Engineer'"
                [ngClass]="tabOpen === 921 ? 'kt-menu__item kt-menu__item--submenu kt-menu__item--open':'kt-menu__item kt-menu__item--submenu'" aria-haspopup="true"
                    data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" (click)="tabtoggel(921)" routerLink="/tickets"
                        class="kt-menu__link kt-menu__toggle"><i
                            class="kt-menu__link-icon flaticon2-architecture-and-city"></i><span
                            class="kt-menu__link-text">Manage {{this.currentUser.Ticket}}'s</span></a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item kt-menu__item--parent" aria-haspopup="true">
                                <span class="kt-menu__link"><span class="kt-menu__link-text">Manage
                                    {{this.currentUser.Ticket}}'s</span></span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li *ngIf="this.genicProfile.formData.Geolocation && currentUser.Type === 'Engineer'"
                [ngClass]="tabOpen === 922 ? 'kt-menu__item kt-menu__item--submenu kt-menu__item--open':'kt-menu__item kt-menu__item--submenu'" aria-haspopup="true"
                    data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" (click)="tabtoggel(922)" routerLink="/engineer/engineer-attendance"
                        class="kt-menu__link kt-menu__toggle"><i
                            class="kt-menu__link-icon flaticon2-architecture-and-city"></i><span
                            class="kt-menu__link-text">Attendance</span></a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item kt-menu__item--parent" aria-haspopup="true">
                                <span class="kt-menu__link"><span class="kt-menu__link-text">Attendance
                                    </span></span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li *ngIf="currentUser.Permissions.ServiceView"
                    [ngClass]="tabOpen === 25 ? 'kt-menu__item kt-menu__item--submenu kt-menu__item--open':'kt-menu__item kt-menu__item--submenu'"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" (click)="tabtoggel(25)" class="kt-menu__link kt-menu__toggle"
                        *ngIf="!currentUser.Permissions.IsProductOnly"><i
                            class="kt-menu__link-icon flaticon-security"></i><span
                            class="kt-menu__link-text">Service</span><i
                            class="kt-menu__ver-arrow la la-angle-right"></i></a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item kt-menu__item--parent" aria-haspopup="true">
                                <span class="kt-menu__link"><span class="kt-menu__link-text">Service</span></span>
                            </li>

                            <li class="kt-menu__item" aria-haspopup="true">
                                <a routerLink="/services" class="kt-menu__link ">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">Service List</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>

                <li *ngIf="currentUser.Permissions.SettingView"
                    [ngClass]="tabOpen === 26 ? 'kt-menu__item kt-menu__item--submenu kt-menu__item--open':'kt-menu__item kt-menu__item--submenu'"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" (click)="tabtoggel(26)" class="kt-menu__link kt-menu__toggle"><i
                            class="kt-menu__link-icon flaticon-settings"></i><span
                            class="kt-menu__link-text">Settings</span>
                        <span *ngIf="genicProfile.PendingLeaveRequest.Count > 0"
                            style="color:red;float:right;font-weight:800;font-size:10px;">({{genicProfile.PendingLeaveRequest.Count}})</span>
                        <i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item kt-menu__item--parent" aria-haspopup="true">
                                <span class="kt-menu__link"><span class="kt-menu__link-text">Settings</span></span>
                            </li>

                            <li class="kt-menu__item " aria-haspopup="true">
                                <a class="kt-menu__link " routerLink="/settings">
                                    <i class="kt-menu__link-icon flaticon-settings"><span></span></i>
                                    <span class="kt-menu__link-text">Manage Setting's</span>
                                    <span *ngIf="genicProfile.PendingLeaveRequest.Count > 0"
                                        style="color:red;float:right;font-weight:800;font-size:10px;">({{genicProfile.PendingLeaveRequest.Count}})</span>
                                </a>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true"
                                *ngIf="currentUser.Permissions.GeofencingView">
                                <a class="kt-menu__link " routerLink="/settings/geofencing-list">
                                    <i class="kt-menu__link-icon flaticon-settings"><span></span></i>
                                    <span class="kt-menu__link-text">Geofencing </span>
                                </a>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true" *ngIf="currentUser.Permissions.LogView">
                                <a class="kt-menu__link " routerLink="/settings/user-log">
                                    <i class="kt-menu__link-icon flaticon-settings"><span></span></i>
                                    <span class="kt-menu__link-text">User's Log</span>
                                </a>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true" *ngIf="currentUser.Permissions.UserView">
                                <a class="kt-menu__link " routerLink="/settings/user-permissions">
                                    <i class="kt-menu__link-icon flaticon-settings"><span></span></i>
                                    <span class="kt-menu__link-text">Manage User's</span>
                                </a>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true"
                                *ngIf="currentUser.Permissions.NotificationView">
                                <a class="kt-menu__link " routerLink="/settings/notifications">
                                    <i class="kt-menu__link-icon flaticon-settings"><span></span></i>
                                    <span class="kt-menu__link-text">Manage Notification's</span>
                                </a>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true"
                                *ngIf="currentUser.Permissions.TemplateView">
                                <a class="kt-menu__link " routerLink="/settings/notifications/templates">
                                    <i class="kt-menu__link-icon flaticon-settings"><span></span></i>
                                    <span class="kt-menu__link-text">Manage Template's</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>